<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


<context:annotation-config></context:annotation-config>
<bean name="annotation" class="spring.chap09.Annotation"></bean>
<bean name="a" class="spring.chap09.A"></bean>
<bean name="b_sub" class="spring.chap09.B_sub"></bean>

</beans>
